@*MIT License. https://github.com/badhitman - @fakegov*@
@using BootstrapViewComponentsRazorLibrary.Service
@using BootstrapViewComponentsRazorLibrary.Components.html
@model FormManager
<form @Html.Raw(Model.StringAttributes) class="@Model.StringCSS">
    @await Component.InvokeAsync(typeof(UniversalList).Name, new { SetObjectManager = Model })
</form>