@*https://github.com/badhitman*@
@using BootstrapViewComponentsRazorLibrary.Service.html.input
@model InputOptionSelectManager
<option @Html.Raw(Model.StringAttributes) class="@Model.StringCSS">
    @Model.Header
</option>