@*© https://github.com/badhitman - @fakegov*@
@using BootstrapViewComponentsRazorLibrary.Service.html.input
@model OptionSelectManager
<option @Html.Raw(Model.StringAttributes) class="@Model.StringCSS">
    @Model.Header
</option>