@*© https://github.com/badhitman - @fakegov*@
@using BootstrapViewComponentsRazorLibrary.Service.bootstrap.navbar
@model NavbarTextManager
<span @Html.Raw(Model.StringAttributes) class="@Model.StringCSS">
    @Html.Raw(Model.Header)
</span>