@*MIT License (https://github.com/badhitman)*@
@using BootstrapViewComponentsRazorLibrary.Service.bootstrap.navbar
@model NavbarTextManager
<span @Html.Raw(Model.GetStringAttributes())>
    @Html.Raw(Model.Header)
</span>