@*MIT License (https://github.com/badhitman)*@
@using BootstrapAspDynamicRender.service
@using BootstrapAspDynamicRender.models
@using BootstrapAspDynamicRender.components
@model bsFormGroupHorizontalStacked
<fieldset class="form-group">
    <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">@Model.HeaderInputsGroup</legend>
        <div class="col-sm-10">
            @await Component.InvokeAsync(typeof(hrUniversalList).Name, new { SetObjectManager = Model })
        </div>
    </div>
</fieldset>