@*MIT License (https://github.com/badhitman)*@
@using BootstrapAspDynamicRender.components
@using BootstrapAspDynamicRender.service
@model bsFormGroupSingle
<div @Html.Raw(Model.GetStringAttributes())>
    @await Component.InvokeAsync(typeof(hrUniversalList).Name, new { SetObjectManager = Model })
</div>