@*MIT License (https://github.com/badhitman)*@
@using BootstrapAspDynamicRender.service
@model bsNavbarBrand
@{
    string BrandHeader = Model.NavbarBrandDom.Header;
    string BrandImgSrc = Model.NavbarBrandDom.ImageNavbarBrandSrc;
}
<a @Html.Raw(Model.GetStringAttributes())>
    @if (!string.IsNullOrWhiteSpace(BrandImgSrc))
    {
        @: <img src="@Html.Raw(BrandImgSrc)" width="30" height="30" class="d-inline-block align-top" alt="Brand img @BrandHeader">
    }
    @Html.Raw(BrandHeader)
</a>