@*https://github.com/badhitman*@
@using BootstrapViewComponentsRazorLibrary.Service.html
@model LabelInputManager
<label class="@Model.StringCSS" @Html.Raw(Model.StringAttributes)>
    @Model.Header
</label>