@*© https://github.com/badhitman - @fakegov*@
@using BootstrapViewComponentsRazorLibrary.Service.html
@model LabelManager
<label class="@Model.StringCSS" @Html.Raw(Model.StringAttributes)>
    @Model.Header
</label>