@*MIT License (https://github.com/badhitman)*@
@using BootstrapViewComponentsRazorLibrary.Service.html
@using BootstrapViewComponentsRazorLibrary.Service.html.bootstrap
@using BootstrapViewComponentsRazorLibrary.Components.html.table
@using BootstrapViewComponentsRazorLibrary.Components.html
@model TableBootstrapManager
<table @Html.Raw(Model.GetStringAttributes())>
    @await Component.InvokeAsync(typeof(TableHeaderBase).Name, new { SetObjectManager = Model.TableHeader })
    <tbody>
        @await Component.InvokeAsync(typeof(HtmlRenderUniversalList).Name, new { SetObjectManager = Model })
    </tbody>
    @if (!string.IsNullOrWhiteSpace(Model.CaptionText))
    {
        <caption>@Html.Raw(Model.CaptionText)</caption>
    }
</table>