@*https://github.com/badhitman*@
@using BootstrapViewComponentsRazorLibrary.Service.html
@using BootstrapViewComponentsRazorLibrary.Service.html.bootstrap
@using BootstrapViewComponentsRazorLibrary.Components.html.table
@using BootstrapViewComponentsRazorLibrary.Components.html
@model TableManager
<table @Html.Raw(Model.StringAttributes) class="@Model.StringCSS">
    @await Component.InvokeAsync(typeof(TableHeaderBase).Name, new { SetObjectManager = Model.TableHeader })
    <tbody>
        @await Component.InvokeAsync(typeof(UniversalList).Name, new { SetObjectManager = Model })
    </tbody>
    @if (Model is TableBootstrapManager)
    {
        TableBootstrapManager on_table = (Model as TableBootstrapManager);
        if (!string.IsNullOrWhiteSpace(on_table.CaptionText))
        {
            <caption>@Html.Raw(on_table.CaptionText)</caption>
        }
    }
</table>