@*MIT License. https://github.com/badhitman - @fakegov*@
@using BootstrapViewComponentsRazorLibrary.Service
@using BootstrapViewComponentsRazorLibrary.Components.bootstrap.navbar
@using BootstrapViewComponentsRazorLibrary.Components.html
@using BootstrapViewComponentsRazorLibrary.Service.bootstrap.navbar
@model NavbarManager
<nav class="@Model.StringCSS" @Html.Raw(Model.StringAttributes)>
    @if (Model.NavbarBrand != null && Model.NavbarBrand.NavbarBrandPosition == BootstrapViewComponentsRazorLibrary.Models.bootstrap.navbar.NavbarBrandPositioningEnum.Left)
    {
        @await Component.InvokeAsync(typeof(NavbarBrand).Name, new { SetObjectManager = Model.NavbarBrand })
    }
    @if (Model.NavbarActions != null && Model.NavbarActions.ChildsCount > 0 && Model.NavbarActions.IsHidesCollapse)
    {
        @await Component.InvokeAsync(typeof(NavbarToggler).Name, new { SetObjectManager = new NavbarTogglerManager() { TargetName = Model.CollapseTarget } })
    }
    @if (Model.NavbarBrand != null && Model.NavbarBrand.NavbarBrandPosition == BootstrapViewComponentsRazorLibrary.Models.bootstrap.navbar.NavbarBrandPositioningEnum.Right)
    {
        @await Component.InvokeAsync(typeof(NavbarBrand).Name, new { SetObjectManager = Model.NavbarBrand })
    }
    @if (Model.NavbarActions != null && Model.NavbarActions.ChildsCount > 0)
    {
        @if (Model.NavbarActions.IsHidesCollapse)
        {
            <div class="collapse navbar-collapse" id="@Model.CollapseTarget">
                @if (Model.NavbarBrand != null && Model.NavbarBrand.NavbarBrandPosition == BootstrapViewComponentsRazorLibrary.Models.bootstrap.navbar.NavbarBrandPositioningEnum.Hides)
                {
                    @await Component.InvokeAsync(typeof(NavbarBrand).Name, new { SetObjectManager = Model.NavbarBrand })
                }
                @await Component.InvokeAsync(typeof(UniversalList).Name, new { SetObjectManager = Model.NavbarActions })
            </div>
        }
        else
        {
            @await Component.InvokeAsync(typeof(UniversalList).Name, new { SetObjectManager = Model.NavbarActions })
        }
    }
</nav>