@*MIT License (https://github.com/badhitman)*@
@using BootstrapAspDynamicRender.components
@using BootstrapAspDynamicRender.service
@using BootstrapAspDynamicRender.models
@model bsModal
@{
    string HeaderDomId = Model.ID + "-ModalLabel";

}
<div @Html.Raw(Model.GetStringAttributes()) role="dialog" aria-labelledby="@HeaderDomId" aria-hidden="true">
    <div class="modal-dialog@(Model.MaxModalSize == bmModalSizesEnum.Default?"":" modal-"+Model.MaxModalSize.ToString())" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="@HeaderDomId">@Html.Raw(Model.Header)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Component.InvokeAsync(typeof(hrUniversalList).Name, new { SetObjectManager = Model })
            </div>
            @if (Model.FooterExtButtons.Count > 0)
            {
                <div class="modal-footer">
                    @foreach (bsButton button in Model.FooterExtButtons)
                    {
                        @await Component.InvokeAsync(button.ViewComponentName, new { SetObjectManager = button })
                    }
                </div>
            }
        </div>
    </div>
</div>
