@*MIT License. https://github.com/badhitman - @fakegov*@

@using BootstrapViewComponentsRazorLibrary.Models.bootstrap

@model PaginationButtonModel

@{
    string li_css = "page-item";
    if (string.IsNullOrEmpty(Model.Href))
    {
        li_css += " disabled";
    }
}

<li class="@li_css">
    @if (string.IsNullOrEmpty(Model.Href))
    {
        <a class="page-link">
            @Model.Title
        </a>
    }
    else
    {
        <a class="page-link" href="@Model.Href">
            @Model.Title
        </a>
    }
</li>