@*MIT License (https://github.com/badhitman)*@
@using BootstrapViewComponentsRazorLibrary.Service.bootstrap
@using BootstrapViewComponentsRazorLibrary.Service.bootstrap.input
@using BootstrapViewComponentsRazorLibrary.Service.html
@using BootstrapViewComponentsRazorLibrary.Models.bootstrap
@model FormGroupStackedManager
<div @Html.Raw(Model.GetStringAttributes())>
    @foreach (CustomInputModel v in Model.CustomInputs)
    {
        await Html.RenderPartialAsync("StackedInput", new StackedInputModel() { CustomInput = v, IsInline = Model.IsInline });
    }
</div>