@*© https://github.com/badhitman - @fakegov*@
@using BootstrapViewComponentsRazorLibrary.Service.bootstrap.navbar
@model NavbarBrandManager
<span @Html.Raw(Model.StringAttributes) class="@Model.StringCSS">@Model.NavbarBrandDom.Header</span>