@*MIT License (https://github.com/badhitman)*@
@using BootstrapViewComponentsRazorLibrary.Service.bootstrap.navbar
@model NavbarBrandManager
<span @Html.Raw(Model.GetStringAttributes)>@Model.NavbarBrandDom.Header</span>
