@*© https://github.com/badhitman - @fakegov*@
@using BootstrapViewComponentsRazorLibrary.Service.bootstrap
@using BootstrapViewComponentsRazorLibrary.Models.bootstrap
@using BootstrapViewComponentsRazorLibrary.Components.bootstrap.navs
@model AbstractNavManager
<ul @Html.Raw(Model.StringAttributes) class="@Model.StringCSS">
    @foreach (NavItemModel navItem in Model.GetChilds())
    {
        string li_class_style = "nav-item" + (navItem.ChildsCount > 0 ? " dropdown" : string.Empty);

        <li class="@li_class_style">
            @await Component.InvokeAsync(typeof(NavItemHtmlDomA).Name, new { SetNavItem = navItem })
        </li>
    }
</ul>