@*© https://github.com/badhitman - @fakegov*@
@using BootstrapViewComponentsRazorLibrary.Service.html
@using BootstrapViewComponentsRazorLibrary.Service
@using BootstrapViewComponentsRazorLibrary.Components.html
@model AbstractNestedToolsManager
<div @Html.Raw(Model.StringAttributes) class="@Model.StringCSS">
    @await Component.InvokeAsync(typeof(UniversalList).Name, new { SetObjectManager = Model })
</div>