@*MIT License (https://github.com/badhitman)*@
@using BootstrapViewComponentsRazorLibrary.Service.bootstrap
@using BootstrapViewComponentsRazorLibrary.Components.html
@model AbstractNavManager
<nav @Html.Raw(Model.GetStringAttributes())>
    @await Component.InvokeAsync(typeof(HtmlRenderUniversalList).Name, new { SetObjectManager = Model })
</nav>