@*MIT License. https://github.com/badhitman - @fakegov*@
@using BootstrapViewComponentsRazorLibrary.Service.bootstrap
@using BootstrapViewComponentsRazorLibrary.Components.html
@model AbstractNavManager
<nav @Html.Raw(Model.StringAttributes) class="@Model.StringCSS">
    @await Component.InvokeAsync(typeof(UniversalList).Name, new { SetObjectManager = Model })
</nav>