@*https://github.com/badhitman*@
@using BootstrapViewComponentsRazorLibrary.Service.bootstrap
@using BootstrapViewComponentsRazorLibrary.Models.bootstrap
@using BootstrapViewComponentsRazorLibrary.Components.bootstrap.navs
@model AbstractNavManager
<nav>
    <div @Html.Raw(Model.StringAttributes) class="@Model.StringCSS">
        @foreach (NavItemModel navItem in Model.GetChilds())
        {
            @await Component.InvokeAsync(typeof(NavItemHtmlDomA).Name, new { SetObjectManager = navItem });
        }
    </div>
</nav>