@*MIT License (https://github.com/badhitman)*@
@using BootstrapViewComponentsRazorLibrary.Service.bootstrap
@model BootstrapButtonManager
<a @Html.Raw(Model.GetStringAttributes())>@Html.Raw(Model.Header)</a>
