@*MIT License (https://github.com/badhitman)*@
@using BootstrapAspDynamicRender.service
@using BootstrapAspDynamicRender.components
@model bsTable
<table @Html.Raw(Model.GetStringAttributes())>
    @await Component.InvokeAsync(typeof(hrTableHeader).Name, new { SetObjectManager = Model.TableHeader })
    <tbody>
        @await Component.InvokeAsync(typeof(hrUniversalList).Name, new { SetObjectManager = Model })
    </tbody>
    @if (!string.IsNullOrWhiteSpace(Model.CaptionText))
    {
        <caption>@Html.Raw(Model.CaptionText)</caption>
    }
</table>