@*MIT License (https://github.com/badhitman)*@
@using BootstrapViewComponentsRazorLibrary.Service.html.table
@using BootstrapViewComponentsRazorLibrary.Components.html
@model TableTdManager
<td @Html.Raw(Model.GetStringAttributes())>
    @Html.Raw(Model.Header)
    @if (Model.ChildsCount > 0)
    {
        @await Component.InvokeAsync(typeof(HtmlRenderUniversalList).Name, new { SetObjectManager = Model })
    }
</td>