@*© https://github.com/badhitman - @fakegov*@
@using BootstrapViewComponentsRazorLibrary.Service.html.table
@model TableTdManager
<td @Html.Raw(Model.StringAttributes) class="@Model.StringCSS">
    @Html.Raw(Model.Header)
</td>